<h1>{{ title }}</h1>

<ul>
  {{#each users}}
    <li>
        {{ num }} / {{ id }} / {{ name }} / {{ major }} / {{ grade }} / {{ date }} / {{ email }}
      </a>
    </li>
  {{/each}}
</ul>
