<h1>{{ title }}</h1>
<table>
    <tr>
        <td>Course_Name</td>
        <td>Course_Number</td>
        <td>Credit_Hours</td>
    </tr>
    {{#each course}}
        <form method="post">
            <tr>
                <td>{{Course_Name}}</td>
                <td>{{Course_Number}}</td>
                <td>{{Credit_Hours}}</td>

                <td style="border: none; margin-left: 10px;">
                    <button 
                    style="margin-left: 10px;"
                    name='delBtn'
                    type="submit"
                    value="{{Course_Number}}"
                    formaction="/delete"
                    >
                    삭제 
                    </button>
                </td>
            </tr>
        </form>
    {{/each}}
</table>